<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>bot.foxhole.preview-reap</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/xinjuan/git/preview-server/manage-preview.sh</string>
        <string>reap</string>
    </array>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/xinjuan/preview/logs/preview-reap.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/xinjuan/preview/logs/preview-reap.log</string>
</dict>
</plist>
